---
Checks: '
  -*,
  bugprone-*,
  cert-*
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
    -google-readability-todo,
  llvm-*,
  misc-*,
  modernize-*,
    -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
    -readability-magic-numbers
  '
...
