---
Language: Cpp
Standard: Cpp11
BasedOnStyle: Google

AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: TopLevelDefinitions
BraceWrapping:
  AfterControlStatement: true
  SplitEmptyFunction: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
MaxEmptyLinesToKeep: 2
SpaceBeforeParens: ControlStatements
---
